<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Dates App</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Couples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-disabled="true">Messages</a>
      </li>
    </ul>
    <div *ngIf="logged" class="d-flex flex-row">
      <div class="me-3 mt-2">{{ username }}</div>
      <button class="btn btn-outline-primary" (click)="logOut()">
        LogOut
      </button>
    </div>
    <div *ngIf="!logged">
      <form
        class="d-flex"
        role="search"
        [formGroup]="logInForm"
        (submit)="logIn()"
      >
        <input
          class="form-control me-2"
          type="text"
          placeholder="Username"
          formControlName="username"
        />
        <input
          class="form-control me-2"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          [disabled]="logInForm.invalid"
        >
          LogIn
        </button>
      </form>
    </div>
  </div>
</nav>
